---
import { actions } from 'astro:actions';
import Layout from '../../../layouts/Layout.astro';
import Alert from '../../../components/ui/Alert.svelte';

const { id } = Astro.params;
const formData = new FormData();
formData.append('id', id);
const { data } = await Astro.callAction(actions.getTaskById, formData);
const result = Astro.getActionResult(actions.updateTaskById);
---

<Layout title="Редактирование задачи">
  <div class="w-full">
    <h1>Редактирование задачи</h1>
    <div class="box">
      {result?.error && <Alert title="Ошибка" arrmsg={[result?.error]} color="red" client:only="svelte" />}
      {result && !result.error && <Alert title="Успешно" arrmsg={['Задача успешно обновлена', `id: ${result?.data.id}`, `Название: ${result?.data.title}`]} color="green" client:only="svelte" />}

      <form method="POST" action={actions.updateTaskById}>
        <!-- ID задачи (скрытое поле) -->
        <input type="hidden" name="id" value={id} />

        <div class="mb-4">
          <label for="title">Название </label>
          <input type="text" id="title" name="title" class="form__input" value={data?.title || ''} required />
        </div>

        <div class="mb-4">
          <label for="description">Описание</label>
          <textarea id="description" name="description" rows="3" class="form__input">{data?.description || ''}</textarea>
        </div>

        <div class="mb-4">
          <label for="priority">Приоритет</label>
          <select id="priority" name="priority" class="form__input" required>
            <option value="low" selected={data?.priority === 'low'}>Низкий</option>
            <option value="medium" selected={data?.priority === 'medium'}>Средний</option>
            <option value="high" selected={data?.priority === 'high'}>Высокий</option>
          </select>
        </div>
        {
          /*
        <div class="mb-4">
          <label for="dueDate" class="block text-sm font-medium text-gray-700">Дата выполнения</label> : {data?.dueDate}
          <input
            type="date"
            id="dueDate"
            name="dueDate"
            class="form__input"
            value={data?.dueDate ? new Date(data?.dueDate).toISOString().substring(0, 10) : ''}
          />
        </div>
      */
        }
        <div class="mb-4">
          <label for="status">Статус</label>
          <select id="status" name="status" class="form__input" required>
            <option value="active" selected={data?.status === 'active'}>Активна</option>
            <option value="completed" selected={data?.status === 'completed'}>Завершена</option>
          </select>
        </div>
        <div class="flex justify-end">
          <button type="submit" class="btn btn-primary mt-10"> Сохранить изменения </button>
        </div>
      </form>
    </div>
  </div>
</Layout>
